<app-main-header></app-main-header>
<div [ngSwitch]="mode">
    <div *ngSwitchCase="1">
        <mat-card class="card-size">
            <form class="example-container">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="title" name="title" matInput placeholder="Name">
                </mat-form-field>

                <mat-form-field>
                    <textarea [(ngModel)]="content" name="content" matInput placeholder="About you"></textarea>
                </mat-form-field>

                <button (click)="adddata()" class="example-button-row" mat-raised-button>Save</button>
            </form>
            <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
            </div>

            <label class="btn btn-default"> <input type="file"
                (change)="selectFile($event)">
            </label>
        </mat-card>
    </div>
    <div *ngSwitchDefault>
        <ul *ngFor="let singlepost of posts | async">
            <li>
                {{ singlepost.title }} {{singlepost.content}}
            </li>
        </ul>
        <app-list-upload></app-list-upload>
    </div>
    <button (click)="switchmode()" class="example-button-row" mat-raised-button>edit</button>
</div>
<!-- <img src="/assets/image/school.png"> -->