<app-main-header></app-main-header>
<div [ngSwitch]="mode">
    <div *ngSwitchCase="1">
        <mat-card class="card-size">
            <form class="example-container">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="title" name="title" matInput placeholder="Name">
                </mat-form-field>

                <mat-form-field>
                    <textarea [(ngModel)]="content" name="content" matInput placeholder="About you"></textarea>
                </mat-form-field>

                <button (click)="addPost()" class="example-button-row" mat-raised-button>Save</button>
            </form>
        </mat-card>
    </div>
    <div *ngSwitchDefault>
        <ul *ngFor="let post of posts | async">
            <li>
                {{ post.title }} {{post.content}}
            </li>
        </ul>
    </div>
    <button (click)="swichmode()" class="example-button-row" mat-raised-button>edit</button>
</div>
<!-- <img src="/assets/image/school.png"> -->