.example-full-width {
    width: 100%;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.card-size {
    width: 50%;
}