<div class="main-image">
    <app-header></app-header>
    <div class="signup-card signup-shadow">
        <div class="signup-content">
            <h1 class="signup-head">Signup</h1>
            <div *ngIf="!(authService.user | async)">
                <div class="signup-inner">
                    <label class="font signup-label">Email</label>
                    <input type="text" [(ngModel)]="email" placeholder="Type your username" class="signup-input">
                </div>
                <div class="signup-inner-sec">
                    <label class="font signup-label">Password</label>
                    <input type="password" [(ngModel)]="password" placeholder="Type your password" class="signup-input">
                </div>
                <div class="signup-button-section">
                    <button (click)="signup()" [disabled]="!email || !password" class="signup-button">Signup</button>
                </div>
            </div>
        </div>
    </div>
</div>