/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0px;
}

.menu-back {
    /* background-color: #3377ff; */
    background: transparent;
    padding: 25px;
    display: flex;
    justify-content: right;
}

.menu-back-color {
    background-color: #3377ff;
    padding: 25px;
    display: flex;
    justify-content: right;
}

.menu-asset {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}